###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user

        email                           nagios@localhost	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    wwalker
	use				pager_template
        alias                           Wayne Walker

        email                           wwalker@solid-constructs.com
        pager				5126338076@tmomail.net
        }


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin,wwalker
        }

define contactgroup{
        contactgroup_name       rn-fr-email
        alias                   Rapid Notify First Responders Email
        members                 wwalker
}

define contactgroup{
        contactgroup_name       rn-all-email
        alias                   Rapid Notify All Responders Email
        members                 wwalker
        }

define contactgroup{
        contactgroup_name       rn-fr-pagers
        alias                   Rapid Notify First Responders Pagers
        members                 wwalker
}

define contactgroup{
        contactgroup_name       rn-all-pagers
        alias                   Rapid Notify All Responders Pagers
        members                 wwalker
        }

#define contact{
#        use email_template
#        contact_name jfreeze
#        alias        jfreeze
#        email        jfreeze@freeze.org
#        pager        5127434135@messaging.sprintpcs.com
#}

define contact{
        use email_template
        contact_name ckluck
        alias        ckluck
        email        chris@eclipsing.com
        pager        5126338076@tmomail.net
}

define contact{
        use email_template
        contact_name rickr
        alias        rickr
        email        rick@stream-tx.com
}

define contact{
        use email_template
        contact_name richardw
        alias        richardw
        email        richard@appgrp.net
}


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

#define contactgroup{
#        contactgroup_name       freeze
#        alias                   freeze
#        members                 jfreeze,wwalker
#}

define contactgroup{
        contactgroup_name       eclipsing
        alias                   eclipsing
        members                 ckluck,wwalker
}
