
define service{
        use                             generic-service        
        hostgroup                       linux-servers
        service_description             Root Partition
	check_command			check_nrpe!check_disk!20%!10%!/
        }

define service{
        use                             generic-service        
        hostgroup                       linux-servers
        service_description             Home Partition
	check_command			check_nrpe!check_disk_home!20%!10%!/
        }

define service{
        use                             generic-service        
        hostgroup                       linux-servers
        service_description             Var Log Partition
	check_command			check_nrpe!check_disk_var_log!20%!10%!/
        }


# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service       
        hostgroup                       linux-servers
        service_description             Current Users
	check_command			check_nrpe!check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             generic-service      
        hostgroup                       linux-servers
        service_description             Total Processes
	check_command			check_nrpe!check_total_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             generic-service     
        hostgroup                       linux-servers
        service_description             Current Load
	check_command			check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
        }

define service {
     use generic-service
     hostgroup java-servers
     service_description check_java_procs
     check_command check_nrpe!check_java_procs
}

define service {
     use generic-service
     hostgroup rapid-notify-call
     service_description check_pcapsipdump_procs
     check_command check_nrpe!check_pcapsipdump_procs
}
