define service{
        use                             generic-service         
        hostgroup                       smtp-servers
        service_description             SMTP-MTA
	check_command			check_smtp
        }

# We do most stuff by defining services and putting them in a hostgroup or attaching them to a host
define service{
        use                             generic-service         
        host                            ut-eclipsing
        service_description             apache1
	check_command			check_http!www.eclipsing.com1!http://www.eclipsing.com1/
        }

define service{
        use                             generic-service         
        host                            ut-eclipsing
        service_description             apache2
	check_command			check_http!www.conceptvendors.com!http://www.conceptvendors.com/
        }

define service{
        use                             generic-service
        host                            ut-eclipsing 
        service_description             apache3
        check_command                   check_http!www.midsizeschools.org!http://www.midsizeschools.org/account/login/
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             generic-service        
        hostgroup                       nrpe-servers
        service_description             Root Partition
	check_command			check_nrpe!check_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service       
        hostgroup                       nrpe-servers
        service_description             Current Users
	check_command			check_nrpe!check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             generic-service      
        hostgroup                       nrpe-servers
        service_description             Total Processes
	check_command			check_nrpe!check_total_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             generic-service     
        hostgroup                       nrpe-servers
        service_description             Current Load
	check_command			check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
        }

# Define a service to check the Dell Hardware Status

#define service{
#        use                             generic-service     
#        hostgroup                       dell-servers
#        service_description             Dell Sensors
#	check_command			check_nrpe!check_dell_sensors
#        }
